@model IEnumerable<SachOnline.Models.SACH>
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div class="row">
    <div class="col">
        <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }' style="margin-top:150px">
            @foreach (var sach in Model)
            {
                <!-- Product 1 -->

                <div class="product-item men" style="margin: 15px 25px">
                    <div class="product discount product_filter">
                        <div class="product_image">
                            <a href="@Url.Action("ChiTietSach","SachOnline", new { id = sach.MaSach})"><img src="~/Image/@sach.AnhBia" alt="Thumbnail Image 1" style="height: 300px"></a>
                        </div>
                        <div class="favorite favorite_left"></div>
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                        <div class="product_info">
                            <h6 class="product_name" style="margin-top: 20px"><a href="@Url.Action("ChiTietSach","SachOnline", new { id = sach.MaSach})">@sach.TenSach</a></h6>
                        </div>
                    </div>
                    <div class="red_button add_to_cart_button"><a href="@Url.Action("ThemGioHang", "GioHang", new { ms = sach.MaSach, Url = Request.Url.ToString() })">add to cart</a></div>
                </div>

            }
            </div>
    </div>
</div>
